.carouselCaptionRight{
    right: 3%;
    bottom: 40%;
    left: initial;
}

.carouselCaptionLeftBottom{
    left: 5%;
    bottom: 15%;
    right: initial;
}

.carouselCaptionLeftTop{
    left: 15%;
    bottom: 45%;
    right: initial;
}

.mediaContainer {
    margin-top: 50px;
}