.fa-star,
.fa-star-half {
    color: #0070d1;
    padding: 3% 0%;
    padding-left: 0px;
}

.text-secondary  {
    color: red!important;
}

.price {
    color: green;
}

.productNameColour {
    color: #0070d1;
}